
<div class="second_navigation col-md-12">
    <ul class="nav text-center">
		{{#each displays as |display|}}
        <li class="nav-item">
			{{#if display.istouchapp}}
			<a href="#/display/{{display.id}}/playlist/{{display.playlists.0.id}}/spot/{{display.playlists.0.spots.0.id}}">{{display.label}}</a>
			{{else}}
            <a href="#/display/{{display.id}}/playlist/{{display.playlists.0.id}}">{{display.label}}</a>
			{{/if}}
        </li>
		{{/each}}

    </ul>
</div>
