<div class="error hide">Login failed, please try again or contact the support team</div>
<form {{action 'login' on='submit'}}>
	{{input value=username placeholder='E-Mail Address'}}<br>
	{{input value=password placeholder='Password' type='password'}}<br>
	<button type="submit">Login</button>
</form>