<div class="error hide">Registration failed, please try again or contact the support team</div>
<form {{action 'register' on='submit'}}>
	{{input value=username placeholder='E-Mail Address'}}<br>
	{{input value=password placeholder='Password' type='password'}}<br>
	<button type="submit">register</button>
</form>