.page.display{


	.header_icon {
    display: none;
	    content: '';
	    background: url(images/sprite.png);
	    width: 34px;
	    height: 34px;
	    float: right;
	}
  &.empfang .header_icon{
    background-position: 0 -454px;
    display: block;
  }
  &.wartebereich .header_icon{
    background-position: 0 -380px;
    display: block;
  }
  &.produktpraesentation .header_icon{
    background-position: 0 -417px;
    display: block;
  }
  &.aftersales .header_icon{
    background-position: 0 -306px;
    display: block;
  }
  &.bmwi .header_icon{
    background-position: 0 -343px;
    display: block;
  }
  &.touchapplikationen .header_icon{
    background-position: 0 -417px;
    display: block;
  }
	.post{
		img{
			width: 100%;
		}
		.post_body {
		    background: #d9d9d9;
		    padding: 25px;
		    min-height: 140px;
			p {
			    margin-bottom: 10px;
				strong {
				    .bold();
				}
			}
		}
	}
	.playlist {
		.table {
			    background: #ececec;
		}
		.table-bordered tr:first-child td:nth-child(2) {
		    border-top: none;
		}
		.table-bordered th, .table-bordered td {
		    border-color: #666666;
		    border-left: none;
		}
		.table-bordered th:first-child, .playlist .table-bordered tr:first-child td:nth-child(2) {
		    border-top: none;
		}
		.table-bordered td:last-child {
		    border-bottom: none;
		}
		.table-bordered td {
		    border-color: #666666;
		    border-right: none;
		}
	}
	.download{
		.h3 {
	   	 margin-bottom: 0;
		}
		p {
		    background: #ececec;
		    font-size: 15px;
		    margin: 0 0 20px 0;
		    padding: 20px;
		}

	}
	.media_content {
	    margin-top: 50px;
		.title.margin_bottom, .margin_bottom {
		    display: block;
		    margin-bottom: 10px;
		}
		.img_preview {
		    height: 135px;
		}
		.media_name {
		    min-height: 60px;
		}
    .title.media_duration{
      float: left;
      width: 40%;
      margin-right: 4%;
    }
    .title.content_tag{
      width: 56%;
      float: right;
    }
		.media_item {
      position: relative;

      &.video-1{
        &:before{
          background: #1c69d4;
          content: "";
          display: block;
          width: 38px;
          height: 24px;
          position: absolute;
          top: 32%;
          left: 50%;
          margin: 0 0 0 -19px;
        }
        &:after{
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 0 6px 10px;
          border-color: transparent transparent transparent #ffffff;
          position: absolute;
          top: 34%;
          left: 50%;
          margin: 0 0 0 -5px;
        }
      }
			img {
		    	margin-bottom: 10px;
				width: 100%;
			}
			.media_duration {
			    background: #d9d9d9;
			    font-size: 15px;
			    width: 30%;
			    margin-right: 4%;
			    padding: 4px 15px;
			    float: left;
			}
			.content_tag {
			    display: inline-block;
			    width: 66%;
			    margin: 0;
			    padding: 5px 10px;

        &.News{
          background: #d2ca72;
        }
        &.Aftersales {
          background: #bfc9e1;
        }
        &.Neue{
          background: #cfc9bb;
        }
        &.Gebrauchte{
          background: #99b6b7;
        }
        &.Financial{
          background: #69a7da;
        }
        &.Lifestyle{
          background: #ffe67f;
        }
			}
			.media_name {
			    background: #d9d9d9;
			    min-height: 60px;
			    padding: 5px 10px;

			}
			.new {
			    background: #1c69d4;
			    color: #fff;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    margin: -6px -15px 0 0;
			    padding: 6px 10px;
			    float: right;
			}
		}
    .media_duration_total{
      font-size: 15px;
      padding: 0 15px;

      span{
        background: #d9d9d9;
        .bold();
        width: 100%;
        margin-top: 184px;
        padding: 4px 15px;
        display: inline-block;
      }
    }
    .col-md-10{
      padding: 0;

      .row{
        margin: 0;
      }
    }
	}
}

tr.hide--true{
	display:none;
}


