.page.market{

	.links {
	    background: #d9d9d9;
	    padding: 20px 15px;
		li{
      &:nth-child(5) a:before{
        background-position: 0 -194px;
      }
      &:nth-child(4) a:before{
        background-position: 0 -166px;
      }
      &:nth-child(3) a:before,
      &:nth-child(6) a:before{
        background-position: 0 -250px;
      }
      &:nth-child(2) a:before{
        background-position: 0 -222px;
      }
      &:nth-child(7) a:before{
        background: none;
      }
      & a:hover:before{
        background-position-x: -26px;
      }
    } a {
		    position: relative;
		    margin: 20px 0 20px 50px;
		    display: block;
			&:before {
    			content: '';
    			background: url(images/sprite.png) 0 0;
    			width: 25px;
    			height: 25px;
    			display: block;
    			left: -40px;
    			top: -2px;
    			position: absolute;
				background-position: 0 -278px;
			}
			&:after {
    			content: '';
    			background: url(images/sprite.png) 0 -77px;
    			width: 9px;
    			height: 16px;
    			display: block;
    			right: 20px;
    			top: 2px;
    			position: absolute;
			}
		}
	}
	#menu-menusecond {
	    list-style: none;
	    padding: 0;
	}
}


