.page.content--page{

	&.legal,
  &.impressum{
    h3{
      background-color: transparent;
      padding-left: 0;
      margin-top: 20px;
      margin-bottom: 0;
    }
    a{
      color: #337ab7;
      text-decoration: underline;
    }
    ul{
      padding: 0 0 0px 15px;
    }
  }
}


