/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 15.12.2017, 12:10:10
    Author     : kspaetlich
*/


@import "ember-bootstrap/bootstrap";
@import "global/_colors";
@import "global/_fonts";
@import "global/_buttons";
@import "components/_header";
@import "components/_footer";
@import "views/_market";
@import "views/_display";
@import "views/_contacts";
@import "views/_page";

html, body{
    height: 100%;
}
.container{
  width: 1256px;
  min-height: 100%;
  overflow: auto;
}
.page{
  .col-md-3:not(.media_item){
    padding: 0;
  }
}
.table > tbody > tr{
  & > th{
    padding: 10px 15px;
    border-top: 1px solid #666666;
  }
  & > td{
    border-left: 1px solid #666666;
    border-top: 1px solid #666666;
    padding: 10px 15px;
  }

  &:first-child > th,
  &:first-child > td{
    border-top: none;
  }
}
.post{
  img{
    width: 100%;
  }
  .post_body {
    background: #d9d9d9;
    padding: 25px;
    min-height: 161px;
    p {
      margin-bottom: 10px;
    }
  }
}
