footer {
    background: #aaa38e;
    font-family: Arial;
    height: 35px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    padding: 8px 0px;
    a {
      color: #ffffff;
      margin-right: 80px;
      letter-spacing: 1px;

      &:hover,
      &:active,
      &:focus{
        text-decoration: none;
        color: #ffffff;
      }
    }
}
