header {
  margin-top: 40px;
  .logos {
    background: url(images/sprite.png) 0 0;
    width: 64px;
    height: 30px;
    display: block;
    position: relative;
    float: left;
    &:after {
      content: '';
      background: url("images/sprite.png") 0 -32px;
      width: 92px;
      height: 30px;
      display: block;
      left: 106px;
      top: 0;
      position: absolute;
    }
  }
  .main_navigation {
    h2 {
      margin-top: 15px;
      margin-left: 175px;
      float: left;
      text-transform: uppercase;
      line-height: 0px;
    }
    #menu-mainmenu {
      float: right;
      list-style: none;
      margin: 0 -15px 0 0;
      padding: 0;
      & > li {
        float: left;
        display: inline-block;
        .bold();
        & > a {
          line-height: 24px;
          font-size: 14px;
          text-transform: uppercase;
          padding: 0;
          margin: 5px 0 0 30px;
          &:hover,
          &:focus {
            background-color: transparent;
            color: #0c101c;
          }
        }
      }
    }
  }

  .dropdown-menu.open.show {
    padding-top: 0;
  }

  .second_navigation {
    margin-top: 20px;
    margin-bottom: 20px;
    ul {
      & > li {
        display: inline-block;
        & > a {
          border-bottom: 3px solid #d9d9d9;
          padding: 0;
          margin: 0 15px;
          &.active {
            border-bottom: 3px solid #92a2bd;
          }
          &:hover,
          &:focus {
            background-color: transparent;
            color: #0c101c;
            border-bottom: 3px solid #92a2bd;
          }
        }
      }
    }

  }
  #menu-menusecond {
    list-style: none;
    padding: 0;
  }
  .home_btn {
    background: url("images/sprite.png") 0 -95px;
    width: 20px;
    height: 20px;
    display: block;
  }
  .log_out_btn {
    background: url("images/sprite.png") -21px -95px;
    width: 20px;
    height: 20px;
    display: block;
  }
}
