.btn_download {
  background: #92a2bd;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  height: 46px;
  border-radius: 0;
  margin: 4px 0 45px;
  padding-top: 10px;

  &:hover {
    color: #ffffff;
  }
  .download_icon {
    background: url(images/sprite.png) 0 -118px;
    width: 23px;
    height: 26px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: bottom;

  }
}
