
@font-face {
    font-family: "BMWTypeRegular";
    font-weight: normal;
    font-style: normal;
  src: url('fonts/BMWGroup_Cond_Regular/BMWGroup_Cond_Regular.eot');
  src: url('fonts/BMWGroup_Cond_Regular/BMWGroup_Cond_Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/BMWGroup_Cond_Regular/BMWGroup_Cond_Regular.otf') format('otf'),
  url('fonts/BMWGroup_Cond_Regular/BMWGroup_Cond_Regular.woff') format('woff'),
  url('fonts/BMWGroup_Cond_Regular/BMWGroup_Cond_Regular.woff2') format('woff2'),
  url('fonts/BMWGroup_Cond_Regular/BMWGroup_Cond_Regular.ttf')  format('truetype'),
  url('fonts/BMWGroup_Cond_Regular/BMWGroup_Cond_Regular.svg#svgFontName') format('svg');
}

/* BOLD */
@font-face {
    font-family: "BMWTypeBold";
    font-weight: normal;
    font-style: normal;

  src: url('fonts/BMWGroup_Cond_Bold/BMWGroup_Cond_Bold.eot');
  src: url('fonts/BMWGroup_Cond_Bold/BMWGroup_Cond_Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/BMWGroup_Cond_Bold/BMWGroup_Cond_Bold.otf') format('otf'),
  url('fonts/BMWGroup_Cond_Bold/BMWGroup_Cond_Bold.woff') format('woff'),
  url('fonts/BMWGroup_Cond_Bold/BMWGroup_Cond_Bold.woff2') format('woff2'),
  url('fonts/BMWGroup_Cond_Bold/BMWGroup_Cond_Bold.ttf')  format('truetype'),
  url('fonts/BMWGroup_Cond_Bold/BMWGroup_Cond_Bold.svg#svgFontName') format('svg');
}

@font-face {
    font-family: "BMWTypeLight";
    font-weight: normal;
    font-style: normal;

    src: url('fonts/bmwl.ttf');
}


.regular() {
    font-family: "BMWTypeRegular";
}

.bold() {
    font-family: "BMWTypeBold";
}
.light() {
    font-family: "BMWTypeLight";
}


body{
	.regular();
	font-size: 14px;
	color: @font-black;
}

h1, h2,h3,h4,div,span,li,b,strong, .ui-input-text,.ui-body-inherit, input, button{
	text-shadow: none;
}
h2{
    .bold();
    font-size: 22px;
    line-height: 35px;
}
h3{
    .bold();
    background: #d9d9d9;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 11px;
    padding: 13px 15px;
}
h4{
    .bold();
    font-size: 14px;
    line-height: 17px;
    margin-top: 0px;
}
h4.title{
    background: #d9d9d9;
    font-size: 15px;
    padding: 6px 15px;
    margin: 0;
}
a{
    color: #0c101c;
}
a:hover{
	color: #000;
    text-decoration: none;
}
a:focus{
	outline: none;
}
strong, b{
	.bold();
}
