<!-- Index page -->
<div class="page user">
<h2>BMW POS.DIGITAL.</h2>
<div class="row">
            <div class="col-md-12">
			   <h2>login page</h2>
			   <p></p>

			   {{user-login}}
			   
			   <br />
			   {{#link-to 'user.register'}}register now{{/link-to}}
            </div>
        </div>
	</div>