<!-- Index page -->
<div class="page user">
<h2>BMW POS.DIGITAL.</h2>
<div class="row">
            <div class="col-md-12">
			   <h2>register page</h2>
			   <p></p>

			   {{user-register}}
			   <br />
			   {{#link-to 'user.login'}}login now{{/link-to}}
            </div>
        </div>
	</div>