<div class="container">
    <header>
        <div class="main_navigation">
            <span class="logos"></span>
            <h2>{{phrase "layout-header-title" "Redaktionsplan"}}</h2>
            <ul class="nav justify-content-end" id="menu-mainmenu">
                <li class="nav-item">
                    <a class="nav-link home_btn" href="#/"></a>
                </li>
                <li class="nav-item">
					<a class="nav-link print_hide" href="#/page/howto">HOW-TO</a>
                </li>
              <li class="nav-item">
                    <a class="nav-link print_hide" href="#/contacts">{{phrase "layout-header-contacts" "Ansprechpartner"}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link log_out_btn" {{action "logout"}}></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        {{display-navigation}}
    </header>
    <div class="">
        {{outlet}}
    </div>
</div>
<footer>
    <div class="container">
        <nav class="nav">
            <a class="nav-link" href="#/page/legal">{{phrase "layout-footer-legal" "Rechtlicher Hinweis"}}</a>
            <a class="nav-link" href="#/page/impressum">{{phrase "layout-footer-impress" "Impressum"}}</a>
            <a class="nav-link" href="#/contacts">{{phrase "layout-footer-contacts" "Kontakt"}}</a>
        </nav>
    </div>
</footer>
