<!-- Index page -->
<div class="page contacts">
  <div class="row">
    <h2>{{phrase "page-contacts-title" "KONTAKTE."}}</h2>
  </div>
  <div class="row contacts--list">
    {{#each model.contacts as |contact|}}
      <div class="col-md-7 contact--item">
        <div class="row">
          <div class="col-md-8">
            <strong>{{contact.label}}</strong><br/>
            <strong>{{contact.company}}</strong><br/>
          </div>
          <div class="col-md-4">
            {{#if contact.person}}
              <span><br/>{{contact.person}}</span>
            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            {{#if contact.phone1label}}
              <span>{{contact.phone1label}}</span><br/>
            {{/if}}
          </div>
          <div class="col-md-4">
            {{#if contact.phone1value}}
              <span>{{contact.phone1value}}</span><br/>
            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            {{#if contact.phone2label}}
              <span>{{contact.phone2label}}</span><br/>
            {{/if}}
          </div>
          <div class="col-md-4">
            {{#if contact.phone2value}}
              <span>{{contact.phone2value}}</span><br/>
            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            {{#if contact.email}}
                <span>E-Mail</span><br/>
            {{/if}}
          </div>
          <div class="col-md-4">
            {{#if contact.email}}
              <span>{{contact.email}}</span><br/>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    {{/each}}
  </div>
</div>