<!-- Display page -->
<div class="page display {{model.display.cssclass}}">
  <div class="row">
    <h2 class="col-md-9">{{model.display.label}}<span class="header_icon"></span></h2>
  </div>
  
<div class="row">
            <div class="col-md-9">
                <div class="post">
                    <img width="951" height="454" src="{{model.playlist.image}}">
					<div class="post_body">
                        <p>{{{model.playlist.description}}}</p>
                    </div>
                </div>
            </div>

    <div class="col-md-3">
      <div class="playlist">
        <h4 class="title">{{phrase "display-playlistinfo" "Playlist Informationen"}}</h4>
        <table class="table">
          <tbody>
          {{#each model.display.playlists as |playlist|}}
            <tr>
              <th scope="row">
                <a class="active" href="#/display/{{playlist.pivot.display_id}}/playlist/{{playlist.id}}">{{format-date
                  playlist.releasedate}}</a>
              </th>
              <td>{{playlist.releasenote}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
      <div class="download">
        <h3>{{phrase "label-download" "Download"}}</h3>
        <p>{{phrase "display-download-text" "Klicken Sie hier ..."}}</p>
        <a href="{{model.playlist.download}}" class="btn btn_download"><span class="download_icon"></span>{{phrase "label-download" "Download"}}</a>
      </div>
    </div>
  </div>

  <div class="row media_content">
    <div class="col-md-2" id="media_content_nav">
  {{#each model.playlist.spots as |spot index|}}
    {{#if spot.showMenu}}
      <div class="media_nav">
        <h4 class="title margin_bottom">{{phrase "label-channel" "Channel"}}</h4>
        <h4 class="title margin_bottom img_preview">{{phrase "label-preview" "Spot Vorschau"}}</h4>
        <h4 class="title margin_bottom media_duration">{{phrase "label-duration" "Dauer"}}</h4>
        <h4 class="title content_tag">{{phrase "label-kategorie" "Kategorie"}}</h4>
        <div class="clearfix"></div>
        <h4 class="title margin_bottom media_name">{{phrase "label-spotname" "Spot Name"}}</h4>
      </div>
    {{/if}}
  {{/each}}
    </div>
    <div class="col-md-10">
      <div class="row">
        {{#each model.playlist.spots as |spot index|}}
          <div class="col-md-3 media_item video-{{spot.isvideo}}">
            <h4 class="title margin_bottom">Nr. {{plusone index}}
              {{#if spot.isnew}}
                <span class="new">{{phrase "label-new" "Neu"}}</span>
              {{/if}}
            </h4>
            <img width="240" height="135" src="{{spot.preview}}" class="attachment-full size-full wp-post-image" alt="">
            <span class="media_duration margin_bottom">{{spot.duration}}</span>
            <span class="content_tag lifestyle {{spot.category}}">{{spot.category}}</span>
            <!-- Tag classes: marke-und-news, aftersales, neue-automobile, gebrauchte-automobile,financial-services, lifestyle -->
            <div class="clearfix"></div>
            <span class="media_name margin_bottom">{{spot.label}}</span>
          </div>
        {{/each}}
          <div class="col-md-3 media_duration_total margin_bottom">
            <span>{{{phrase "label-totalduration" "Gesamtdauer"}}}: {{model.playlist.totalDuration}}</span>
          </div>
      </div>
    </div>
  </div>
  
</div>
