<!-- Index page -->
<div class="page market">
<h2>{{{phrase "index-title" "BMW POS.DIGITAL."}}}</h2>
<div class="row">
            <div class="col-md-9">
                <div class="post">
                    <img width="951" height="454" src="{{model.image}}">
					<div class="post_body">
                        <p>{{{model.description}}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h3>
                    {{{phrase "index-plandownload" "den ganzen redaktionsplan  herunterladen"}}}
                </h3>
                <a href="{{model.download}}" class="btn btn_download"><span class="download_icon"></span>{{phrase "label-download" "Download"}}</a>

                <h3>
                    {{{phrase "index-chapter-view" "kapitel besuchen"}}}
                </h3>
                <div class="links">
                    <h4>{{{phrase "index-chapter-included" "Der Redaktionsplan beinhaltet die folgenden  Kapitel"}}}:</h4>
                    <div class="menu-menusecond-container">
						<ul id="menu-menusecond" class="menu">
							{{#each model.displays as |display|}}
							<li id="menu-item-70" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-70"><a href="#/display/{{display.id}}">{{display.label}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
            </div>
        </div>
	</div>