<!-- Display page -->
<div class="page content--page {{model.systemkey}}">
  <div class="row">
    	<h2 class="col-md-9">{{model.label}}</h2>
	</div>
	<div class="row">
		<div class="col-md-12">
    		{{{model.content}}}
		</div>
	</div>
</div>