<!-- Display page -->
<div class="page display {{model.display.cssclass}}">
  <div class="row">
    <h2 class="col-md-9">{{model.display.label}}<span class="header_icon"></span></h2>
  </div>
  
<div class="row">
            <div class="col-md-9">
                <div class="post">
                    <img width="951" height="454" src="{{model.spot.touch_topimage}}">
					<div class="post_body">
                        <p>{{{model.spot.touch_description}}}</p>
                    </div>
                </div>
            </div>

    <div class="col-md-3">
      <div class="playlist">
        <h4 class="title">{{{phrase "display-touchspot-other" "Andere Touchspots"}}}</h4>
        <table class="table">
          <tbody>
          {{#each model.playlist.spots as |spot|}}
		  	
            <tr class="hide--{{is-equal spot.id model.spot.id}}">
              
              <td><a href="#/display/{{model.display.id}}/playlist/{{model.playlist.id}}/spot/{{spot.id}}">{{spot.label}}</a></td>
            </tr>

          {{/each}}
          </tbody>
        </table>
      </div>
      <div class="download">
        <h3>{{phrase "label-download" "Download"}}</h3>
        <p>{{phrase "display-download-text" "Klicken Sie hier ..."}}</p>
        <a href="{{model.playlist.download}}" class="btn btn_download"><span class="download_icon"></span>{{phrase "label-download" "Download"}}</a>
      </div>
    </div>
  </div>

  <div class="row media_content">
	   <div class="col-md-9">
	  	 	<h2>{{model.spot.label}}</h2>
    		<img src="{{model.spot.touch_spotimage}}" style="width: 100%"/>
		</div>
  </div>
</div>
